.header {
    font-size: 1.4rem;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--white);
     z-index: 101;
  }
  
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid var(--grey-light);
  }
  
  .header_left {;
    display: flex;
    align-items: center;
    margin-left: -55px;
  }
  
  .header_left img {
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
    text-decoration: none solid rgb(20, 168, 0);;
    height: 90px;
    width: 100px;
    display: block;
    cursor: pointer;
    margin-left: 13px; 
 }
  
  .header_left_list {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: var(--grey);
    font-weight: 500;
  }
  
  .header_left_list_item {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
    
    cursor: pointer;
    color: #001e00;
  }

  .header_left_list_item:hover {
     color: #14a800;
  }
  
  .header_left_list_item img {
    width: 12px;
    margin-left: 0.5rem;
  }
  
  .header_right {
    display: flex;
    align-items: center;
  }
  
  .header_right_form {
    position: relative;
    width: var(--input-form-width);
  }
  
  .header_right_form input {
    height: var(--input-height);
    border-radius: var(--input-radius);
    border: 1px solid var(--grey-light);
    outline: none;
    width: 100%;
    padding-left: 5rem;
  }
  
  .header_right_form input::placeholder {
    font-weight: 700;
    padding: 0.8rem;
  }
  
  .header_right_form_input_icons {
    position: absolute;
    display: flex;
    align-items: center;
    top: 11px;
    left: 16px;
  }
  
  .header_right_form_input_icons img:nth-child(1) {
    width: 20px;
  }
  
  .header_right_form_input_icons img:nth-child(2) {
    width: 12px;
  }
  
  .header_right_btns {
    margin-right: -4.5rem;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4x;
    line-height: 39px;
    text-decoration: none solid rgb(255, 255, 255);
    border: 2px solid #fff;
    padding: 0 10px 0 10px;
  }

  .btn_secondary:hover {
    background-color: #14a800;
  }